.intro {
  height: 100vh;
  width: 100%;
  background-color: #121212;
  top: 0; }
  .intro .intro-bg {
    height: calc(100vh - 100px);
    width: calc(100% - 100px);
    background-image: url(4-images/bg_intro.jpg);
    background-size: cover;
    background-color: black;
    top: 50px;
    left: 50px;
    position: relative; }
    .intro .intro-bg .intro-text {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .intro .intro-bg .intro-text h1 {
        color: #e1253b;
        font-size: 12vw;
        margin: 0;
        position: relative;
        margin-left: 30px;
        font-family: font2;
        display: block;
        line-height: 1; }
        .intro .intro-bg .intro-text h1:first-child {
          font-family: font1;
          font-weight: 100;
          display: inline-flex; }
        .intro .intro-bg .intro-text h1 .typed-cursor {
          animation: blink 0.7s infinite;
          font-size: 10vw;
          font-weight: 100;
          font-family: font3; }
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
      .intro .intro-bg .intro-text h2 {
        margin: 0;
        color: white;
        font-family: font3;
        font-size: 4vw;
        margin-left: 30px;
        position: relative; }
    .intro .intro-bg p a {
      position: absolute;
      bottom: 0;
      color: #e1253b;
      font-family: font3;
      text-transform: uppercase;
      margin-left: calc(50% - 57.6565px);
      font-size: 18px; }
      .intro .intro-bg p a:hover {
        transform: scale(1.2);
        text-decoration: none;
        cursor: pointer; }

@media (max-width: 767px) {
  .intro {
    height: 100vh;
    width: 100%;
    background-color: #121212;
    top: 0; }
    .intro .intro-bg {
      height: calc(100vh - 20px);
      width: calc(100% - 20px);
      background-image: url(4-images/bg_intro.jpg);
      background-size: cover;
      background-color: black;
      top: 10px;
      left: 10px;
      position: relative; } }
.portofolio {
  height: 100%;
  width: 100%;
  background-color: #121212;
  position: relative;
  overflow: hidden; }
  .portofolio .absolute-arrow {
    position: absolute;
    margin-left: 50%;
    top: 200px; }
  .portofolio .fixed-arrow {
    position: fixed;
    margin-left: 50%;
    bottom: 0; }
  .portofolio #arrow {
    transform: rotate(180deg); }
    .portofolio #arrow .center {
      position: absolute;
      width: 1px;
      height: 35px;
      background-color: #e1253b; }
    .portofolio #arrow .left {
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: #e1253b;
      transform: rotate(45deg);
      left: -7px;
      top: -3px; }
    .portofolio #arrow .right {
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: #e1253b;
      transform: rotate(-45deg);
      left: 7px;
      top: -3px; }
  .portofolio .space {
    height: 250px;
    width: 100%; }
    .portofolio .space .center-line {
      height: 200px;
      width: 1px;
      margin-left: calc(50% - 0.5px);
      background-color: #e1253b;
      position: absolute; }
    .portofolio .space p {
      color: black;
      opacity: 0.1;
      font-family: font2;
      font-size: 3vw;
      position: relative;
      margin: 0;
      margin-left: 50px;
      margin-right: 50px;
      z-index: -1; }
  .portofolio h1 {
    font-family: font2;
    text-align: center;
    font-size: 10vw;
    color: white;
    margin-top: 0; }
  .portofolio .show-mobile {
    display: none; }
  .portofolio .projects .container {
    padding: 0; }
    .portofolio .projects .container .row {
      margin-left: 50px;
      margin-right: 50px; }
      .portofolio .projects .container .row .col-sm-5 {
        padding-left: 5px;
        padding-right: 5px;
        padding: 0; }
        .portofolio .projects .container .row .col-sm-5 .project {
          height: 450px;
          width: 100%;
          border: solid 1px #292929;
          margin-bottom: 50px; }
          .portofolio .projects .container .row .col-sm-5 .project .project-picture {
            height: 450px;
            width: 100%;
            background-size: 100% 100%; }
          .portofolio .projects .container .row .col-sm-5 .project #black-bird-picture {
            background-image: url(4-images/black-bird-screens.png); }
          .portofolio .projects .container .row .col-sm-5 .project #smart-city-picture {
            background-image: url(4-images/smart-city-screens.png); }
          .portofolio .projects .container .row .col-sm-5 .project #climber-picture {
            background-image: url(4-images/climber-screens.png); }
          .portofolio .projects .container .row .col-sm-5 .project #skiing-resort-picture {
            background-image: url(4-images/skiing-resort-screens.png); }
          .portofolio .projects .container .row .col-sm-5 .project #briolo-picture {
            background-image: url(4-images/briolo-screens.png); }
          .portofolio .projects .container .row .col-sm-5 .project #g-t-picture {
            background-image: url(4-images/g-t-screens.png); }
          .portofolio .projects .container .row .col-sm-5 .project #truck1-picture {
            background-image: url(4-images/truck1-screens.png); }
          .portofolio .projects .container .row .col-sm-5 .project #truck2-picture {
            background-image: url(4-images/truck2-screens.png); }
          .portofolio .projects .container .row .col-sm-5 .project #travel-picture {
            background-image: url(4-images/truck2-screens.png); }
          .portofolio .projects .container .row .col-sm-5 .project .project-cover {
            position: absolute;
            top: 1px;
            height: 447px;
            width: calc(100% - 1px);
            background-color: rgba(10, 10, 10, 0.99);
            transition: all 0.5s ease; }
            .portofolio .projects .container .row .col-sm-5 .project .project-cover:hover {
              background-color: rgba(10, 10, 10, 0.9); }
            .portofolio .projects .container .row .col-sm-5 .project .project-cover h2 {
              color: white;
              font-family: font3;
              text-align: center;
              font-size: 3vw;
              font-weight: 800;
              position: relative;
              margin-top: 25%; }
            .portofolio .projects .container .row .col-sm-5 .project .project-cover h3 {
              color: #e1253b;
              font-family: font3;
              text-align: center;
              font-size: 1.5vw;
              position: relative;
              margin-top: 10%; }
            .portofolio .projects .container .row .col-sm-5 .project .project-cover a {
              position: absolute;
              bottom: 0;
              display: inline-block;
              color: white;
              font-size: 28px;
              padding: 10px 20%;
              background-color: rgba(10, 10, 10, 0.5);
              margin-left: calc(30% - 60.5px);
              text-align: center; }
              .portofolio .projects .container .row .col-sm-5 .project .project-cover a:hover {
                text-decoration: none; }
              .portofolio .projects .container .row .col-sm-5 .project .project-cover a .project-arrow {
                position: absolute;
                transform: rotate(90deg);
                bottom: 30px;
                right: 2px;
                margin-left: 50%;
                animation: arrow-move 2s ease-in-out infinite; }
@keyframes arrow-move {
  0% {
    right: 2px; }
  50% {
    right: 20px; }
  100% {
    right: 2px; } }
                .portofolio .projects .container .row .col-sm-5 .project .project-cover a .project-arrow .center {
                  position: absolute;
                  width: 1px;
                  height: 35px;
                  background-color: #e1253b; }
                .portofolio .projects .container .row .col-sm-5 .project .project-cover a .project-arrow .left {
                  position: absolute;
                  width: 1px;
                  height: 20px;
                  background-color: #e1253b;
                  transform: rotate(45deg);
                  left: -7px;
                  top: -3px; }
                .portofolio .projects .container .row .col-sm-5 .project .project-cover a .project-arrow .right {
                  position: absolute;
                  width: 1px;
                  height: 20px;
                  background-color: #e1253b;
                  transform: rotate(-45deg);
                  left: 7px;
                  top: -3px; }

@media (max-width: 767px) {
  .portofolio {
    height: 100%;
    width: 100%;
    background-color: #121212;
    position: relative; }
    .portofolio .absolute-arrow {
      position: absolute;
      margin-left: calc(50% + 0.5px);
      top: 200px; }
    .portofolio .fixed-arrow {
      position: fixed;
      margin-left: calc(50% + 0.5px);
      bottom: 10px; }
    .portofolio #arrow {
      transform: rotate(180deg); }
      .portofolio #arrow .center {
        position: absolute;
        width: 1px;
        height: 35px;
        background-color: #e1253b; }
      .portofolio #arrow .left {
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: #e1253b;
        transform: rotate(45deg);
        left: -7px;
        top: -3px; }
      .portofolio #arrow .right {
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: #e1253b;
        transform: rotate(-45deg);
        left: 7px;
        top: -3px; }
    .portofolio .space {
      height: 250px;
      width: 100%; }
      .portofolio .space .center-line {
        height: 200px;
        width: 1px;
        margin-left: calc(50% - 0.5px);
        background-color: #e1253b;
        position: absolute; }
      .portofolio .space p {
        color: black;
        opacity: 0.1;
        font-family: font2;
        font-size: 3vw;
        position: relative;
        margin: 0;
        margin-left: 50px;
        margin-right: 50px;
        z-index: -1; }
    .portofolio h1 {
      font-family: font2;
      text-align: center;
      font-size: 10vw;
      color: white;
      margin-top: 0; }
    .portofolio .show-mobile {
      display: block; }
    .portofolio .show-desktop {
      display: none; }
    .portofolio .projects .container {
      padding: 0; }
      .portofolio .projects .container .row {
        margin-left: 20px;
        margin-right: 20px; }
        .portofolio .projects .container .row .col-sm-5 {
          padding-left: 5px;
          padding-right: 5px;
          padding: 0; }
          .portofolio .projects .container .row .col-sm-5 .project {
            height: 450px;
            width: 100%;
            border: solid 1px #292929;
            margin-bottom: 50px; }
            .portofolio .projects .container .row .col-sm-5 .project:last-child {
              margin-bottom: 100px; }
            .portofolio .projects .container .row .col-sm-5 .project .project-picture {
              height: 450px;
              width: 100%;
              background-size: 100% 100%; }
            .portofolio .projects .container .row .col-sm-5 .project #black-bird-picture {
              background-image: url(4-images/black-bird-screens.png); }
            .portofolio .projects .container .row .col-sm-5 .project #smart-city-picture {
              background-image: url(4-images/smart-city-screens.png); }
            .portofolio .projects .container .row .col-sm-5 .project #climber-picture {
              background-image: url(4-images/climber-screens.png); }
            .portofolio .projects .container .row .col-sm-5 .project #skiing-resort-picture {
              background-image: url(4-images/skiing-resort-screens.png); }
            .portofolio .projects .container .row .col-sm-5 .project .project-cover {
              position: absolute;
              top: 1px;
              height: 447px;
              width: calc(100% - 1px);
              background-color: rgba(10, 10, 10, 0.8);
              transition: all 0.5s ease; }
              .portofolio .projects .container .row .col-sm-5 .project .project-cover:hover {
                background-color: rgba(10, 10, 10, 0.9); }
              .portofolio .projects .container .row .col-sm-5 .project .project-cover h2 {
                color: white;
                font-family: font3;
                text-align: center;
                font-size: 8vw;
                font-weight: 800;
                position: relative;
                margin-top: 25%; }
              .portofolio .projects .container .row .col-sm-5 .project .project-cover h3 {
                color: #e1253b;
                font-family: font3;
                text-align: center;
                font-size: 4vw;
                position: relative;
                margin-top: 10%; } }
.contact {
  height: 100%;
  width: 100%;
  background-color: #121212; }
  .contact .contact-container {
    height: 100%;
    width: calc(95% - 100px);
    margin-left: calc(50px + 2.5%);
    background-color: #121212;
    margin-bottom: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border: solid 1px #0A0A0A; }
    .contact .contact-container h1 {
      color: #e1253b;
      font-size: 12vw;
      margin-top: 0;
      text-align: center;
      font-family: font2;
      margin-bottom: 0;
      font-weight: 100; }
    .contact .contact-container a h2 {
      color: white;
      font-family: font2;
      text-align: center;
      font-size: 5vw;
      margin-top: 70px;
      margin-bottom: 40px; }
      .contact .contact-container a h2:hover {
        text-decoration: none; }
    .contact .contact-container a:hover {
      text-decoration: none; }
    .contact .contact-container form {
      margin-top: 30px; }
      .contact .contact-container form fieldset {
        width: 100%;
        border: none;
        margin-top: 10px; }
        .contact .contact-container form fieldset input {
          width: calc(100% - 40px);
          background-color: black;
          color: #e1253b;
          font-family: font1;
          font-size: 18px;
          padding: 10px 0;
          border: none;
          margin-left: 20px; }
          .contact .contact-container form fieldset input span {
            background-color: #e1253b;
            color: black;
            font-family: font2; }
        .contact .contact-container form fieldset textarea {
          resize: none;
          height: 160px;
          width: calc(100% - 40px);
          background-color: black;
          color: #e1253b;
          font-family: font1;
          font-size: 18px;
          padding: 10px 0;
          border: none;
          margin-left: 20px; }
      .contact .contact-container form button {
        position: relative;
        display: inline-block;
        font-family: font2;
        color: #e1253b;
        font-size: 32px;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: black;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        border: solid 1px #0A0A0A;
        text-align: center;
        margin-left: calc(50% - 61px);
        margin-top: 30px;
        margin-bottom: 60px; }
        .contact .contact-container form button a {
          color: #e1253b; }
          .contact .contact-container form button a:hover {
            text-decoration: none; }

h5 {
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: 0;
  display: none; }

#climber-intro {
  background-image: url(4-images/app-bg.png); }

#black-bird-intro {
  background-image: url(4-images/black-bird-presentation.jpg); }

#resort-intro {
  background-image: url(4-images/resort-bg2.jpg); }

#smart-city-intro {
  background-image: url(4-images/smart-city-bg2.jpg); }

#visage-intro {
  background-image: url(4-images/visage-presentation.jpg); }

#truck1-intro {
  background-image: url(4-images/truck1-presentation.png); }

#truck2-intro {
  background-image: url(4-images/truck2-presentation.png); }

#travel-intro {
  background-image: url(4-images/travel-intro-bg.png); }

#g-t-intro {
  background-image: url(4-images/g-t-presentation.jpg); }

.project-intro {
  height: 100vh;
  width: 100%;
  background-color: #121212;
  background-size: cover;
  top: 0;
  overflow: hidden; }
  .project-intro .left-title-bg {
    height: 100vh;
    width: 35%;
    background-color: rgba(18, 18, 18, 0.85);
    position: absolute;
    overflow: hidden; }
    .project-intro .left-title-bg .title-rotate {
      margin: 0;
      transform: rotate(-90deg);
      position: relative;
      left: 10%;
      top: 45%; }
      .project-intro .left-title-bg .title-rotate h3 {
        margin: 0;
        position: relative;
        font-size: 4.3vw;
        line-height: 4.5vw;
        width: 100vh;
        float: left;
        display: inline-block;
        color: white;
        font-family: font1;
        z-index: 96; }
      .project-intro .left-title-bg .title-rotate h4 {
        color: #e1253b;
        font-size: 2vw;
        font-family: font3; }
  .project-intro .project-presentation-picture {
    height: 80vh;
    width: 38%;
    margin-left: 47%;
    bottom: 50px;
    position: absolute;
    background-size: 100% 100%; }
  .project-intro #black-bird-presentation-picture {
    background-image: url(4-images/black-bird-imac-top.png); }
  .project-intro #climber-presentation-picture img {
    max-height: 80vh; }
  .project-intro #resort-presentation-picture {
    background-image: url(4-images/resort-imac-top.png); }
  .project-intro #smart-city-presentation-picture {
    background-image: url(4-images/smart-city-imac-top.png); }
  .project-intro #visage-presentation-picture {
    background-image: url(4-images/visage-imac-top.png); }
  .project-intro #truck1-presentation-picture {
    background-image: url(4-images/truck1-imac.png); }
  .project-intro #truck2-presentation-picture {
    background-image: url(4-images/truck2-imac.png); }
  .project-intro #g-t-presentation-picture {
    background-image: url(4-images/g-t-imac-top.png); }
  .project-intro #travel-presentation-picture {
    background-image: url(4-images/travel-imac.png); }

@media (max-width: 767px) {
  #black-bird-intro {
    background-image: url(4-images/black-bird-presentation.jpg); }

  .project-intro {
    height: 100vh;
    width: 100%;
    background-color: #121212;
    background-size: cover;
    top: 0;
    overflow: hidden; }
    .project-intro .left-title-bg {
      height: 100vh;
      width: 35%;
      background-color: rgba(18, 18, 18, 0.85);
      position: absolute;
      overflow: hidden; }
      .project-intro .left-title-bg .title-rotate {
        margin: 0;
        transform: rotate(-90deg);
        position: relative;
        left: 10%;
        top: 45%; }
        .project-intro .left-title-bg .title-rotate h3 {
          margin: 0;
          position: relative;
          font-size: 4.5vw;
          line-height: 4.5vw;
          width: 100vh;
          float: left;
          display: inline-block;
          color: white;
          font-family: font1; }
        .project-intro .left-title-bg .title-rotate h4 {
          color: #e1253b;
          font-size: 2vw;
          font-family: font3; }
    .project-intro .project-presentation-picture {
      min-height: 60vh;
      height: auto;
      width: 58%;
      margin-left: 37%;
      bottom: 10px;
      position: absolute;
      background-size: 100% 100%;
      overflow: hidden; } }
.project-description {
  height: auto; }
  .project-description .container {
    width: calc(100% - 100px); }
    .project-description .container .row .col-sm-3 {
      height: 120px;
      border: solid 1px #292929; }
      .project-description .container .row .col-sm-3 h3 {
        text-align: center;
        color: #e1253b;
        margin-top: 20px;
        font-size: 28px;
        font-family: font1; }
      .project-description .container .row .col-sm-3 h4 {
        text-align: center;
        color: white;
        font-size: 18px;
        font-family: font3;
        line-height: 1.5; }
        .project-description .container .row .col-sm-3 h4 span {
          text-align: center;
          color: white;
          font-size: 22px;
          font-family: font3; }
          .project-description .container .row .col-sm-3 h4 span:hover {
            text-decoration: underline;
            cursor: pointer; }
  .project-description .project-info {
    height: auto;
    width: 60%;
    background-color: #121212;
    border: solid 1px #292929;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-left: 20%;
    margin-top: 100px;
    margin-bottom: 30px; }
    .project-description .project-info h3 {
      color: #e1253b;
      margin-top: 30px;
      font-family: font1;
      text-transform: uppercase;
      font-weight: 100;
      margin-bottom: 40px;
      font-size: 35px; }
    .project-description .project-info p {
      color: white;
      font-size: 16px;
      line-height: 30px;
      margin-left: 2em;
      margin-right: 2em;
      margin-bottom: 30px;
      font-family: font3; }

@media (max-width: 767px) {
  .project-description {
    height: auto; }
    .project-description .container {
      width: calc(100% - 20px); }
      .project-description .container .row .col-sm-3 {
        height: 120px;
        border: solid 1px #292929; }
        .project-description .container .row .col-sm-3 h3 {
          text-align: center;
          color: #e1253b;
          margin-top: 20px;
          font-size: 28px;
          font-family: font1; }
        .project-description .container .row .col-sm-3 h4 {
          text-align: center;
          color: white;
          font-size: 18px;
          font-family: font3;
          line-height: 1.5; }
          .project-description .container .row .col-sm-3 h4 a {
            text-align: center;
            color: white;
            font-size: 22px;
            font-family: font3; }
    .project-description .project-info {
      height: auto;
      width: 90%;
      background-color: #121212;
      border: solid 1px #292929;
      box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
      text-align: center;
      margin-left: 5%;
      margin-top: 100px;
      margin-bottom: 30px; }
      .project-description .project-info h3 {
        color: #e1253b;
        margin-top: 30px;
        font-family: font1;
        text-transform: uppercase;
        font-weight: 100;
        margin-bottom: 40px;
        font-size: 35px; }
      .project-description .project-info p {
        color: white;
        font-size: 16px;
        line-height: 30px;
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 30px;
        font-family: font3; } }
#next-project-climber {
  background-image: url(4-images/app-bg.png); }

#next-project-resort {
  background-image: url(4-images/resort-bg2.jpg); }

#next-project-smart-city {
  background-image: url(4-images/smart-city-bg2.jpg); }

#next-project-black-bird {
  background-image: url(4-images/black-bird-presentation.jpg); }

#next-project-visage {
  background-image: url(4-images/visage-presentation.jpg); }

#next-project-truck1 {
  background-image: url(4-images/truck1-presentation.png); }

#next-project-truck2 {
  background-image: url(4-images/truck2-presentation.png); }

#next-project-g-t {
  background-image: url(4-images/g-t-presentation.jpg); }

#next-project-travel {
  background-image: url(4-images/travel-intro-bg.png); }

.project-screens {
  height: auto;
  width: 100%;
  overflow: hidden; }
  .project-screens .title-rotate {
    margin: 0;
    transform: rotate(-90deg);
    position: relative;
    left: -35%; }
    .project-screens .title-rotate h3 {
      margin: 0;
      position: relative;
      font-size: 9vw;
      display: inline-block;
      color: #2A2A2A;
      font-family: font2;
      font-weight: 800; }
  .project-screens .project-screen {
    max-width: calc(90% - 100px);
    margin-left: calc(50px + 10%);
    margin-top: 130px; }
  .project-screens .project-screen2 {
    max-width: 70%;
    margin-left: 50px;
    margin-top: 100px; }
  .project-screens .project-screen3 {
    max-width: 60%;
    margin-left: calc(40% - 50px);
    margin-top: 100px; }
  .project-screens .project-screen4 {
    max-width: calc(100% - 100px);
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 0; }
  .project-screens .project-screen-climber {
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 0; }
  .project-screens .project-screen-visage {
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-bottom: 0; }
  .project-screens .cta-contact {
    width: calc(90% - 20px);
    margin-left: calc(5% + 10px);
    height: auto;
    background-color: #0A0A0A;
    border: solid 1px #292929;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    margin-top: 75px; }
    .project-screens .cta-contact h4 {
      text-align: center;
      color: #e1253b;
      font-family: font2;
      font-weight: 100;
      font-size: 5vw;
      padding-top: 10px;
      padding-bottom: 10px; }
    .project-screens .cta-contact h3 {
      text-align: center;
      color: white;
      font-family: font2;
      font-weight: 100;
      font-size: 5vw;
      padding-top: 10px;
      padding-bottom: 10px; }
  .project-screens .project-back-to-top {
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
    margin-left: calc(50% - 111.836px); }
    .project-screens .project-back-to-top:hover {
      cursor: pointer; }
    .project-screens .project-back-to-top .project-back-to-top-circle .project-arrow-back-to-top {
      position: relative;
      left: 50%;
      top: 20px;
      animation: arrow-move-to-top 2s ease-in-out infinite; }
@keyframes arrow-move-to-top {
  0% {
    top: 15px; }
  50% {
    top: 15px; }
  100% {
    top: 15px; } }
      .project-screens .project-back-to-top .project-back-to-top-circle .project-arrow-back-to-top .center {
        position: absolute;
        width: 1px;
        height: 35px;
        background-color: #e1253b; }
      .project-screens .project-back-to-top .project-back-to-top-circle .project-arrow-back-to-top .left {
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: #e1253b;
        transform: rotate(45deg);
        left: -7px;
        top: -3px; }
      .project-screens .project-back-to-top .project-back-to-top-circle .project-arrow-back-to-top .right {
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: #e1253b;
        transform: rotate(-45deg);
        left: 7px;
        top: -3px; }
    .project-screens .project-back-to-top h4 {
      text-align: center;
      color: #0A0A0A;
      font-family: font2;
      font-size: 36px; }
  .project-screens .next-projects {
    margin-bottom: 50px; }
    .project-screens .next-projects .left-project {
      display: inline-block;
      height: 175px;
      width: calc(50% - 50px);
      margin-left: 50px;
      border: solid 1px #292929;
      background-image: url(4-images/back-to-home.jpg); }
      .project-screens .next-projects .left-project h4 {
        color: white;
        text-align: center;
        font-size: 5vw;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        .project-screens .next-projects .left-project h4 a {
          color: white; }
          .project-screens .next-projects .left-project h4 a:hover {
            text-decoration: none; }
          .project-screens .next-projects .left-project h4 a i {
            font-size: 4vw; }
      .project-screens .next-projects .left-project .left-project-cover {
        height: 173px;
        position: relative;
        width: 100%;
        background-color: rgba(18, 18, 18, 0.7);
        top: -10px;
        transition: all 0.5s ease; }
        .project-screens .next-projects .left-project .left-project-cover:hover {
          background-color: rgba(18, 18, 18, 0.5); }
    .project-screens .next-projects .right-project {
      display: inline-block;
      height: 175px;
      width: calc(50% - 50px);
      border: solid 1px #292929;
      float: right;
      margin-right: 50px;
      background-image: url(4-images/intro-BG.jpg); }
      .project-screens .next-projects .right-project h4 {
        color: white;
        text-align: center;
        font-size: 5vw;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        .project-screens .next-projects .right-project h4 a {
          color: white; }
          .project-screens .next-projects .right-project h4 a:hover {
            text-decoration: none; }
          .project-screens .next-projects .right-project h4 a i {
            font-size: 4vw; }
      .project-screens .next-projects .right-project .right-project-cover {
        height: 173px;
        position: relative;
        width: 100%;
        background-color: rgba(18, 18, 18, 0.7);
        top: -10px;
        transition: all 0.5s ease; }
        .project-screens .next-projects .right-project .right-project-cover:hover {
          background-color: rgba(18, 18, 18, 0.5); }

@media (max-width: 767px) {
  .project-screens {
    height: auto;
    width: 100%; }
    .project-screens .title-rotate {
      margin: 0;
      transform: rotate(-90deg);
      position: relative;
      left: -35%; }
      .project-screens .title-rotate h3 {
        margin: 0;
        position: relative;
        font-size: 9vw;
        display: inline-block;
        color: #2A2A2A;
        font-family: font2;
        font-weight: 800; }
    .project-screens .project-screen {
      max-width: calc(100% - 20px);
      margin-left: 10px;
      margin-top: 130px; }
    .project-screens .project-screen2 {
      max-width: 70%;
      margin-left: 10px;
      margin-top: 50px; }
    .project-screens .project-screen3 {
      max-width: 60%;
      margin-left: calc(40% - 10px);
      margin-top: 50px; }
    .project-screens .project-screen4 {
      max-width: calc(100% - 20px);
      margin-left: 10px;
      margin-top: 50px;
      margin-bottom: 0; }
    .project-screens .project-screen-climber {
      width: calc(100% - 20px);
      margin-left: 10px;
      margin-top: 50px;
      margin-bottom: 0; }
    .project-screens .project-screen-visage {
      width: calc(100% - 20px);
      margin-left: 10px;
      margin-bottom: 0; }
    .project-screens .cta-see-website {
      width: calc(90% - 20px);
      margin-left: calc(5% + 10px);
      height: auto;
      background-color: #0A0A0A;
      border: solid 1px #292929;
      box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
      margin-bottom: 100px; }
      .project-screens .cta-see-website h4 {
        text-align: center; }
        .project-screens .cta-see-website h4 a {
          text-align: center;
          color: #e1253b;
          font-family: font2;
          font-weight: 100;
          font-size: 5vw;
          padding-top: 10px;
          padding-bottom: 10px;
          display: inline-block; }
          .project-screens .cta-see-website h4 a:hover {
            text-decoration: none;
            color: #e75263; }
    .project-screens .project-back-to-top {
      margin-top: 50px;
      margin-bottom: 50px;
      display: inline-block;
      margin-left: calc(50% - 111.836px); }
      .project-screens .project-back-to-top:hover {
        cursor: pointer; }
      .project-screens .project-back-to-top .project-back-to-top-circle .project-arrow-back-to-top {
        position: relative;
        left: 50%;
        top: 20px;
        animation: arrow-move-to-top 2s ease-in-out infinite; }
  @keyframes arrow-move-to-top {
    0% {
      top: 15px; }
    50% {
      top: 15px; }
    100% {
      top: 15px; } }
        .project-screens .project-back-to-top .project-back-to-top-circle .project-arrow-back-to-top .center {
          position: absolute;
          width: 1px;
          height: 35px;
          background-color: #e1253b; }
        .project-screens .project-back-to-top .project-back-to-top-circle .project-arrow-back-to-top .left {
          position: absolute;
          width: 1px;
          height: 20px;
          background-color: #e1253b;
          transform: rotate(45deg);
          left: -7px;
          top: -3px; }
        .project-screens .project-back-to-top .project-back-to-top-circle .project-arrow-back-to-top .right {
          position: absolute;
          width: 1px;
          height: 20px;
          background-color: #e1253b;
          transform: rotate(-45deg);
          left: 7px;
          top: -3px; }
      .project-screens .project-back-to-top h4 {
        text-align: center;
        color: #0A0A0A;
        font-family: font2;
        font-size: 36px; }
    .project-screens .next-projects {
      margin-bottom: 10px; }
      .project-screens .next-projects .left-project {
        display: inline-block;
        height: 175px;
        width: calc(50% - 10px);
        margin-left: 10px;
        border: solid 1px #292929;
        background-image: url(4-images/back-to-home.jpg); }
        .project-screens .next-projects .left-project h4 {
          color: white;
          text-align: center;
          font-size: 5vw;
          position: relative;
          top: 50%;
          transform: translateY(-50%); }
          .project-screens .next-projects .left-project h4 a {
            color: white; }
            .project-screens .next-projects .left-project h4 a:hover {
              text-decoration: none; }
            .project-screens .next-projects .left-project h4 a i {
              font-size: 4vw; }
        .project-screens .next-projects .left-project .left-project-cover {
          height: 173px;
          position: relative;
          width: 100%;
          background-color: rgba(18, 18, 18, 0.7);
          top: -10px;
          transition: all 0.5s ease; }
          .project-screens .next-projects .left-project .left-project-cover:hover {
            background-color: rgba(18, 18, 18, 0.5); }
      .project-screens .next-projects .right-project {
        display: inline-block;
        height: 175px;
        width: calc(50% - 10px);
        border: solid 1px #292929;
        float: right;
        margin-right: 10px;
        background-image: url(4-images/intro-BG.jpg); }
        .project-screens .next-projects .right-project h4 {
          color: white;
          text-align: center;
          font-size: 5vw;
          position: relative;
          top: 50%;
          transform: translateY(-50%); }
          .project-screens .next-projects .right-project h4 a {
            color: white; }
            .project-screens .next-projects .right-project h4 a:hover {
              text-decoration: none; }
            .project-screens .next-projects .right-project h4 a i {
              font-size: 4vw; }
        .project-screens .next-projects .right-project .right-project-cover {
          height: 173px;
          position: relative;
          width: 100%;
          background-color: rgba(18, 18, 18, 0.7);
          top: -10px;
          transition: all 0.5s ease; }
          .project-screens .next-projects .right-project .right-project-cover:hover {
            background-color: rgba(18, 18, 18, 0.5); } }
.leave-site-overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(18, 18, 18, 0.3);
  z-index: 300;
  top: 0;
  display: none; }
  .leave-site-overlay .leave-site {
    position: absolute;
    height: auto;
    width: 280px;
    background-color: #121212;
    top: 0;
    border-radius: 25px;
    border: solid 5px #e1253b;
    left: calc(50% - 140px);
    top: calc(50% - 143px); }
    .leave-site-overlay .leave-site .close-sign {
      top: -50px;
      right: 10px;
      position: absolute; }
      .leave-site-overlay .leave-site .close-sign:hover {
        cursor: pointer; }
      .leave-site-overlay .leave-site .close-sign i {
        color: #e1253b;
        font-size: 32px;
        display: inline-block;
        background-color: #2c2c2c;
        border: solid 4px #0A0A0A;
        border-radius: 50%;
        padding-left: 3px;
        padding-right: 3px; }
    .leave-site-overlay .leave-site i {
      font-size: 200px;
      color: #e1253b;
      margin-left: 10px;
      position: absolute; }
    .leave-site-overlay .leave-site p {
      font-family: font1;
      color: white;
      font-size: 24px;
      margin-left: 90px;
      position: relative;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 20px; }
      .leave-site-overlay .leave-site p i {
        color: #e1253b;
        line-height: 1;
        text-decoration: none;
        font-size: 32px;
        background-color: #1c1c1c;
        border: solid 4px #0A0A0A;
        border-radius: 50%;
        padding: 5px;
        margin: 0;
        margin-left: 3px;
        margin-right: 3px;
        position: relative; }
    .leave-site-overlay .leave-site .continue-to {
      background-color: #1c1c1c;
      border: solid 4px #0A0A0A;
      border-radius: 5px;
      color: #e1253b;
      padding: 5px 30px;
      bottom: 5px;
      font-size: 32px;
      line-height: 2.2; }
      .leave-site-overlay .leave-site .continue-to:hover {
        cursor: pointer;
        text-decoration: none;
        background-color: #262626; }

@media (max-width: 380px) {
  .leave-site-overlay {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(18, 18, 18, 0.3);
    z-index: 300;
    top: 0; }
    .leave-site-overlay .leave-site {
      position: absolute;
      height: auto;
      width: 280px;
      background-color: #121212;
      top: 0;
      border-radius: 25px;
      border: solid 5px #e1253b;
      left: calc(50% - 140px);
      top: calc(50% - 143px); }
      .leave-site-overlay .leave-site .close-sign {
        top: -50px;
        right: 30px;
        position: absolute; }
        .leave-site-overlay .leave-site .close-sign i {
          color: #e1253b;
          font-size: 32px;
          display: inline-block;
          background-color: #2c2c2c;
          border: solid 4px #0A0A0A;
          border-radius: 50%;
          padding-left: 3px;
          padding-right: 3px; }
      .leave-site-overlay .leave-site i {
        font-size: 200px;
        color: #e1253b;
        margin-left: 10px;
        position: absolute; }
      .leave-site-overlay .leave-site p {
        font-family: font1;
        color: white;
        font-size: 24px;
        margin-left: 90px;
        position: relative;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 20px; }
        .leave-site-overlay .leave-site p i {
          color: #e1253b;
          line-height: 1;
          text-decoration: none;
          font-size: 32px;
          background-color: #1c1c1c;
          border: solid 4px #0A0A0A;
          border-radius: 50%;
          padding: 5px;
          margin: 0;
          margin-left: 3px;
          margin-right: 3px;
          position: relative; }
      .leave-site-overlay .leave-site .continue-to {
        background-color: #1c1c1c;
        border: solid 4px #0A0A0A;
        border-radius: 5px;
        color: #e1253b;
        padding: 5px 30px;
        bottom: 5px;
        font-size: 32px;
        line-height: 2.2; }
        .leave-site-overlay .leave-site .continue-to:hover {
          cursor: pointer;
          text-decoration: none;
          background-color: #262626; } }
@media (max-height: 400px) {
  .leave-site-overlay {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(18, 18, 18, 0.3);
    z-index: 300;
    top: 0; }
    .leave-site-overlay .leave-site {
      position: absolute;
      height: auto;
      width: 280px;
      background-color: #121212;
      top: 0;
      border-radius: 25px;
      border: solid 5px #e1253b;
      left: calc(50% - 140px);
      top: calc(50% - 143px); }
      .leave-site-overlay .leave-site .close-sign {
        top: 0;
        right: -10px;
        position: absolute; }
        .leave-site-overlay .leave-site .close-sign i {
          color: #e1253b;
          font-size: 32px;
          display: inline-block;
          background-color: #2c2c2c;
          border: solid 4px #0A0A0A;
          border-radius: 50%;
          padding-left: 3px;
          padding-right: 3px; }
      .leave-site-overlay .leave-site i {
        font-size: 200px;
        color: #e1253b;
        margin-left: 10px;
        position: absolute; }
      .leave-site-overlay .leave-site p {
        font-family: font1;
        color: white;
        font-size: 24px;
        margin-left: 90px;
        position: relative;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 20px; }
        .leave-site-overlay .leave-site p i {
          color: #e1253b;
          line-height: 1;
          text-decoration: none;
          font-size: 32px;
          background-color: #1c1c1c;
          border: solid 4px #0A0A0A;
          border-radius: 50%;
          padding: 5px;
          margin: 0;
          margin-left: 3px;
          margin-right: 3px;
          position: relative; }
      .leave-site-overlay .leave-site .continue-to {
        background-color: #1c1c1c;
        border: solid 4px #0A0A0A;
        border-radius: 5px;
        color: #e1253b;
        padding: 5px 30px;
        bottom: 5px;
        font-size: 32px;
        line-height: 2.2; }
        .leave-site-overlay .leave-site .continue-to:hover {
          cursor: pointer;
          text-decoration: none;
          background-color: #262626; } }
.up-sign {
  position: relative;
  height: 100px;
  width: 100px;
  border: solid 1px #292929;
  border-radius: 50%;
  background-color: #0A0A0A;
  margin-bottom: 40px;
  margin-left: -26%; }
  .up-sign a {
    font-size: 32vw;
    bottom: -120%;
    position: relative; }
    .up-sign a span {
      position: absolute;
      width: 18px;
      height: 18px;
      border-left: 1px solid #e1253b;
      border-bottom: 1px solid #e1253b;
      transform: rotate(135deg);
      animation: scrollanimation 2s infinite;
      opacity: 0;
      box-sizing: border-box;
      right: 3vw;
      bottom: 5vh;
      left: 40px; }
      .up-sign a span:nth-of-type(1) {
        animation-delay: 0s; }
      .up-sign a span:nth-of-type(2) {
        bottom: calc(5vh + 16px);
        animation-delay: 0.5s; }
      .up-sign a span:nth-of-type(3) {
        bottom: calc(5vh + 32px);
        animation-delay: 1s; }

@keyframes scrollanimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.top-line {
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50px;
  background-color: #292929;
  z-index: 95; }

.bottom-line {
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 50px;
  background-color: #292929;
  z-index: 95; }

.left-line {
  position: fixed;
  height: 100vh;
  width: 1px;
  left: 50px;
  background-color: #292929;
  z-index: 95; }

.right-line {
  position: fixed;
  height: 100vh;
  width: 1px;
  right: 50px;
  background-color: #292929;
  z-index: 95; }

.bottom-bottom-line {
  position: relative;
  height: 1px;
  width: 100%;
  bottom: 50px;
  margin-top: 50px;
  background-color: #292929;
  z-index: 95; }

.bottom-bottom-line-project {
  position: relative;
  height: 1px;
  width: 100%;
  margin-top: 50px;
  background-color: #292929;
  z-index: 95; }

body {
  background-color: #121212; }

@media (max-width: 767px) {
  .top-line {
    position: absolute;
    height: 1px;
    width: 100%;
    top: 10px;
    background-color: #292929;
    z-index: 95; }

  .bottom-line {
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 10px;
    background-color: #292929;
    z-index: 95; }

  .left-line {
    position: fixed;
    height: 100vh;
    width: 1px;
    left: 10px;
    background-color: #292929;
    z-index: 95; }

  .right-line {
    position: fixed;
    height: 100vh;
    width: 1px;
    right: 10px;
    background-color: #292929;
    z-index: 95; }

  .bottom-bottom-line {
    position: relative;
    height: 1px;
    width: 100%;
    bottom: 10px;
    margin-top: 50px;
    background-color: #292929;
    z-index: 95; }

  .bottom-bottom-line-project {
    position: relative;
    height: 1px;
    width: 100%;
    margin-top: 10px;
    background-color: #292929;
    z-index: 95; }

  body {
    background-color: #121212; } }
@font-face {
  font-family: font1;
  src: url(0-tools/font1.otf); }
@font-face {
  font-family: font2;
  src: url(0-tools/font2.otf); }
@font-face {
  font-family: font3;
  src: url(0-tools/font3.otf); }
.menu-button {
  position: absolute;
  z-index: 96; }
  .menu-button .menu-line-1 {
    height: 1px;
    width: 40px;
    background-color: #e1253b;
    margin-left: 5px;
    margin-top: 10px; }
  .menu-button .menu-line-2 {
    height: 1px;
    width: 30px;
    background-color: #e1253b;
    margin-left: 10px;
    margin-top: 7px; }
  .menu-button p {
    font-size: 14px;
    color: #e1253b;
    font-family: font1;
    margin: 0;
    margin-top: 3px;
    margin-left: 7px; }
  .menu-button:hover {
    cursor: pointer; }
    .menu-button:hover .menu-line-1 {
      background-color: white; }
    .menu-button:hover .menu-line-2 {
      width: 40px;
      background-color: white;
      margin-left: 5px; }
    .menu-button:hover p {
      color: white; }

.menu-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(18, 18, 18, 0.95);
  z-index: 101;
  position: fixed;
  display: none; }
  .menu-overlay .menu {
    width: 280px;
    height: 100vh;
    background-color: #0A0A0A; }
    .menu-overlay .menu ul {
      list-style: none;
      float: left;
      font-size: 2.5vw;
      padding: 0;
      padding-left: 5px; }
      .menu-overlay .menu ul li {
        color: white;
        font-family: font2;
        padding-top: 20px; }
        .menu-overlay .menu ul li a {
          color: white;
          padding-top: 5px; }
          .menu-overlay .menu ul li a:hover {
            text-decoration: none;
            color: #e1253b; }
      .menu-overlay .menu ul ul {
        padding-left: 25px; }
        .menu-overlay .menu ul ul li {
          font-family: font1;
          padding-top: 30px;
          font-size: 1.2vw;
          line-height: 1.2; }
        .menu-overlay .menu ul ul .menu-list-line {
          height: 1px;
          width: 250px;
          background-color: #292929; }
    .menu-overlay .menu p {
      text-align: center;
      font-family: font3;
      position: absolute;
      left: 0;
      bottom: 0;
      color: white;
      margin-bottom: 20px;
      font-size: 30px; }
      .menu-overlay .menu p span {
        color: #e1253b;
        font-family: font3;
        font-size: 21px;
        line-height: 2;
        margin-left: 14px; }
  .menu-overlay .close-btn {
    position: absolute;
    background-color: #121212;
    height: 50px;
    width: 50px;
    left: 210px;
    top: 20px;
    border-radius: 50%;
    transform: rotate(5deg);
    overflow: hidden; }
    .menu-overlay .close-btn:hover {
      cursor: pointer; }
      .menu-overlay .close-btn:hover .left-close-line {
        background-color: white; }
      .menu-overlay .close-btn:hover .right-close-line {
        background-color: white; }
    .menu-overlay .close-btn .left-close-line {
      height: 3px;
      width: 50px;
      background-color: #e1253b;
      transform: rotate(-55deg);
      margin-top: 25px; }
    .menu-overlay .close-btn .right-close-line {
      height: 3px;
      width: 50px;
      background-color: #e1253b;
      transform: rotate(45deg);
      margin-top: -5px;
      margin-left: -1px; }

@media (max-width: 767px) {
  .menu-button {
    position: absolute;
    z-index: 96;
    margin-left: 10px;
    margin-top: 10px; }

  .menu-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(18, 18, 18, 0.95);
    z-index: 101;
    position: fixed;
    display: none; }
    .menu-overlay .menu {
      width: 280px;
      height: 100vh;
      background-color: #0A0A0A; }
      .menu-overlay .menu ul {
        list-style: none;
        float: left;
        font-size: 6.5vw;
        padding: 0;
        padding-left: 5px; }
        .menu-overlay .menu ul li {
          color: white;
          font-family: font2;
          padding-top: 20px; }
          .menu-overlay .menu ul li a {
            color: white;
            padding-top: 5px; }
            .menu-overlay .menu ul li a:hover {
              text-decoration: none;
              color: #e1253b; }
      .menu-overlay .menu p {
        display: none; }
        .menu-overlay .menu p ul {
          padding-left: 25px; }
          .menu-overlay .menu p ul li {
            font-family: font1;
            padding-top: 30px;
            font-size: 3vw;
            line-height: 1.2; }
      .menu-overlay .menu p {
        display: none; } }
@media (max-height: 580px) {

      .menu-overlay .menu p {
        display: none; } }	
@media (max-width: 1000px) {

      .menu-overlay .menu p {
        display: none; } }		
@media (max-width: 458px) {
  .menu-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(18, 18, 18, 0.95);
    z-index: 101;
    position: fixed;
    display: none; }
    .menu-overlay .menu {
      width: 280px;
      height: 100vh;
      background-color: #0A0A0A; }
      .menu-overlay .menu ul {
        list-style: none;
        float: left;
        font-size: 6.5vw;
        padding: 0;
        padding-left: 5px; }
        .menu-overlay .menu ul li {
          color: white;
          font-family: font2;
          padding-top: 20px; }
          .menu-overlay .menu ul li a {
            color: white;
            padding-top: 5px; }
            .menu-overlay .menu ul li a:hover {
              text-decoration: none;
              color: #e1253b; }
        .menu-overlay .menu ul ul {
          padding-left: 25px; }
          .menu-overlay .menu ul ul li {
            font-family: font1;
            padding-top: 30px;
            font-size: 5.5vw;
            line-height: 1.2; } }
@media (max-height: 360px) {
  .menu-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(18, 18, 18, 0.95);
    z-index: 101;
    position: fixed;
    display: none; }
    .menu-overlay .menu {
      width: 280px;
      height: 100vh;
      background-color: #0A0A0A; }
      .menu-overlay .menu ul {
        list-style: none;
        float: left;
        font-size: 3vw;
        padding: 0;
        padding-left: 5px; }
        .menu-overlay .menu ul li {
          color: white;
          font-family: font2;
          padding-top: 15px; }
          .menu-overlay .menu ul li a {
            color: white;
            padding-top: 5px; }
            .menu-overlay .menu ul li a:hover {
              text-decoration: none;
              color: #e1253b; }
        .menu-overlay .menu ul ul {
          padding-left: 25px; }
          .menu-overlay .menu ul ul li {
            font-family: font1;
            padding-top: 15px;
            font-size: 2vw;
            line-height: 1.2; }
      .menu-overlay .menu p {
        text-align: center;
        font-family: font3;
        position: absolute;
        left: 0;
        bottom: 0;
        color: white;
        margin-bottom: 10px;
        font-size: 18px; } }

/*# sourceMappingURL=main.css.map */
